/*global settings*/
body
{
	background-color: white;
	margin: 0;
	border: 0;
    padding: 0;
}
div
{
	border: none;
	margin: none;
	padding: 0 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.title
{
	text-align: center;
	color: white;
	font: bold 3em 'Source Sans Pro', sans-serif;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old)
{
	visibility: hidden;
	margin    : 0.2em;
	opacity: 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label
{
	display      : inline-block;
	margin-left  : -2em;
	line-height  : 1.5em;
	color: black;
	font-weight: bold;
	cursor: pointer;
}
input[type=checkbox]:not(old) + label:hover,
input[type=radio   ]:not(old) + label:hover
{
	color: white;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span
{
	display          : inline-block;
	width            : 0.875em;
	height           : 0.875em;
	margin           : 0.25em 0.5em 0.25em 0.25em;
	border           : 0.0625em solid rgb(192,192,192);
	border-radius    : 0.25em;
	background       : rgb(224,224,224);
	background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
	vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span:before
{
	content     : '✓';
	display     : block;
	width       : 1em;
	color       : rgb(153,204,102);
	font-size   : 0.875em;
	line-height : 1em;
	text-align  : center;
	text-shadow : 0 0 0.0714em rgb(115,153,77);
	font-weight : bold;
}
input[type=radio]:not(old):checked +  label > span > span
{
	display          : block;
	width            : 0.5em;
	height           : 0.5em;
	margin           : 0.125em;
	border           : 0.0625em solid rgb(115,153,77);
	border-radius    : 0.125em;
	background       : rgb(153,204,102);
	background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

/*div.menu family*/

.menu
{
	position: fixed;
	background-color: #9999FF;
	width: 77px;
	height: 100%;
	z-index: 3;
	padding-top: 1em;
	box-shadow:2px 2px 5px #1F1F1F;
}

.menu .button
{
	padding: 0.5em 0 1em 0.3em;
}

.menu .description
{
	position: absolute;
	left: 100%;
	background-color: white;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow:2px 2px 5px #1F1F1F;

	text-align: left;
	color: #3366FF;
	font: 30px arial;
	width: 10em;
	padding: 0.5em;
}

/*button*/
div.menu .button img.default
{
	display: block;
}
div.menu .button img.alt, .description
{
	display: none;
}

div.menu .button:hover img.default
{
	display: none;
}
div.menu .button:hover img.alt
{
	display: block;
}
div.menu .button:hover .description
{
	display: inline-block;
}

/*fixed left*/
div.left
{
	position: fixed;
	background-color: #006699;
	left: 0%;
	padding: 0 0 0 5%;
	width: 45%;
	height: 100%;
	z-index: 1;
	box-shadow: 2px 2px 5px #1F1F1F;
}

/*default*/
#default
{
	position: fixed;
	left: 0%;
	padding: 0.5em 0 0 5%;
	width: 45%;
	height: 100%;
	font: bold 3em 'Source Sans Pro', sans-serif;
	text-align: center;
	color: white;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	-o-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}
#default p
{
	font: normal 20px 'Source Sans Pro', sans-serif;
}

/*lesson family*/
#lesson
{
	position: fixed;
	background-color: #009933;
	padding: 0.5em 0 0 5%;
	left: -50%;
	width: 45%;
	height: 50%;
	box-shadow: 2px 2px 5px #1F1F1F;
	-webkit-transition-duration: 0.6s;
  	-moz-transition-duration: 0.6s;
  	-o-transition-duration: 0.6s;
  	transition-duration: 0.6s;
}
#lesson:target
{
	left: 0%;
}

.radioLesson .optionContainer
{
	width: 40%;
	padding-left: 10%;
	font-size: 1.3em;
}

.radioMode .optionContainer
{
	width: 40%;
	padding-left: 10%;
	font-size: 1.3em;
}

.radioMode .randomDiv
{
	width: 40%;
	padding-left: 10%;
	font-size: 1.3em;
}

#mode
{
	position: fixed;
	background-color: #CC6600;
	padding: 0.5em 0 0 5%;
	left: -50%;
	width: 45%;
	height: 50%;
	box-shadow: 2px 2px 5px #1F1F1F;
	-webkit-transition-duration: 0.6s;
  	-moz-transition-duration: 0.6s;
  	-o-transition-duration: 0.6s;
  	transition-duration: 0.6s;
}
#mode:target
{
	left: 0%;
}

/*fixed right*/
.right
{
	padding: 2%;
	position: fixed;
	background-color: #993333;
	left: 50%;
	width: 46%;
	height: 100%;
}

#question
{
	color: white;
}

#result
{
	color: white;
}

.log
{
	background-color: black;
	color: white;
	overflow: auto;
	padding: 1%;
	height: 80%;
	width: 98%;
}

/*credit*/
/*.credit
{
	left: 1%;
	bottom: 1%;
	font: 12px arial;
	text-align: left;
	color: white;
	background-color: #3366FF;
	border-radius: 12px;
	box-shadow:2px 2px 5px #2952CC;
	z-index: 100;
}*/